---
---
<main>
  <script is:inline>
		var bases = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '+', '/', '='];

    var binary = window.location.pathname.substring(2, window.location.pathname.length - 2);
    binary = binary.replaceAll('o', '0').replaceAll('O', '1');
    var yardstick = new RegExp(`.{9}`, 'g');
    var pieces = binary.match(yardstick);
    var accumulated = (pieces.length * 9);
    var modulo = binary.length % accumulated;
    if (modulo) pieces.push(binary.slice(accumulated));

    for (var i = 0; i < pieces.length; i++) {
      pieces[i] = bases[parseInt(pieces[i], 2)];
    }

    var decoded = atob(pieces.join(''));

    try {
      new URL(decoded);
      window.location.href = decoded;
    } catch {}
  </script>
  404
</main>
