---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<script is:inline>
		var bases = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '+', '/', '='];
		function longer() {
			var website = document.getElementById("website").value;
			var base64 = btoa(website);
			var base64arr = base64.split("");
			var output = "";
			for (var i = 0; i < base64arr.length; i++) {
				var index = bases.indexOf(base64arr[i]);
				output += index.toString(2).padStart(9, '0').replaceAll('0', 'o').replaceAll('1', 'O');
			}
			var url = window.location.protocol + "//" + window.location.host + "/l" + output + "ng";
			document.getElementById('result').href = url;
			document.getElementById('result').innerHTML = url;
		}
	</script>
	<main>
		<h1>Welcome to <span class="text-gradient">loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ng</span></h1>
		<input id="website" />
		<button onclick="longer()">Longer</button>
		<a id="result"></a>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
