---
import Layout from "../layouts/Layout.astro";
---

<Layout title="URL Lengthener: l62.ng">
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
	<script src="/punycode.js" is:inline></script>
	<script is:inline>
		var bases = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '+', '/', '='];
		function longer() {
			var website = document.getElementById("website").value;
			var urled;
			try {
				urled = new URL(website);
				// Make sure the URL is http or https
				if (urled.protocol !== 'https:' && urled.protocol !== 'http:') {
					Toastify({
						text: "Invalid URL protocol.",
						gravity: "top",
						position: "center",
						style: {
							background: "linear-gradient(to right, #d50000, #ff1744)",
						}
					}).showToast();
					return;
				}
			} catch { 
				try {
					// Attempt to add a protocol if it is missing
					website = "https://" + website;
					urled = new URL(website);
				} catch {
					Toastify({
						text: "Input is not a URL.",
						gravity: "top",
						position: "center",
						style: {
							background: "linear-gradient(to right, #d50000, #ff1744)",
						}
					}).showToast();
					return;
				}
			}
			urled.host = punycode.toASCII(urled.host);
			website = urled.toString();
			var base64 = btoa(website);
			var base64arr = base64.split("");
			var output = "";
			// Generate a 9-bit binary string for each character in the base64 string
			for (var i = 0; i < base64arr.length; i++) {
				var index = bases.indexOf(base64arr[i]);
				output += index.toString(2).padStart(9, '0').replaceAll('0', 'o').replaceAll('1', 'O');
			}
			var url = window.location.protocol + "//" + window.location.host + "/l" + output + "ng";
			document.getElementById('result').href = url;
			document.getElementById('result').innerHTML = url;
			navigator.clipboard.writeText(url);
			document.getElementById("original").innerHTML = website.length;
			document.getElementById("new").innerHTML = url.length;
			document.getElementById("percent").innerHTML = Math.round((url.length / website.length - 1) * 100);
			document.getElementById("stats").style.visibility = "visible";
			Toastify({
				text: "Copied to clipboard!",
				gravity: "top",
				position: "center"
			}).showToast();
		}
	</script>
	<main>
		<h1>Make your links <a href="/" class="text-gradient">loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ng</a>er</h1>
		<div class="input">
			<input tabindex="0" id="website" placeholder="https://example.com" aria-label="URL to lengthen" type="url" autofocus />
			<button type="submit" onclick="longer()">lo.nger</button>
		</div>
		<div id="stats" style="visibility: hidden">Original: <span id="original"></span>, New: <span id="new"></span>, +<span id="percent"></span>%</div>
		<a id="result" target="_blank"></a>
	</main>
	<script is:inline>
		document.getElementById("website").addEventListener("keypress", function(event) {
			if (event.key === "Enter") {
				event.preventDefault();
				longer();
			}
		});
	</script>
</Layout>

<style>
		h1 {
		margin: 2rem 0;
		word-break: break-all;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.input {
		width: 100%;
		height: 5rem;
		box-sizing: border-box;
		display: flex;
		border-radius: 25px;
		background: #e0e0e0;
		box-shadow: 10px 10px 20px #d0d0d0,
								-10px -10px 20px #f0f0f0;
		overflow: hidden;
		margin: 1rem 0;
	}

	#website {
		width: 4rem;
		flex: 1;
		padding: 1rem;
	}

	.input button {
		padding: 0 1.5rem;
		flex-shrink: 0;
		cursor: pointer;
		background-image: var(--astro-gradient);
		background-size: 100% 200%;
		background-position-y: 100%;
		animation: pulse 4s ease-in-out infinite;
		color: #eee;
	}

	#result {
		color: #0091ea;
		font-size: 1.5rem;
		word-break: break-all;
	}

	#stats {
		font-size: var(--font-size-base);
		margin: 1rem 0;
	}
</style>
